// Variables and Mixins
@import "_variables.sass"
@import "_mixins.sass"

// Images
.pictureG
  background-color: $tassa-red
  @include picture-size
  margin-top: 30%

.pictureM
  background-color: $tassa-red
  @include picture-size

iframe
  height: 20vh
  width: 60%

.gabbi
  background: none, url(../Gabbi.svg)
  position: absolute

.mickis
  background: none, url(../Mickis.svg)
  position: absolute

// Containers
.aboutUs_banner
  @include no-scroll
  
.textBox_container-right
  width: 53%
  height: 30%
  background-color: $tassa-orange
  border-radius: 0px 0px 11px 11px
  margin-left: 7%
  top: 55%
  position: absolute

.textBox_container-left
  width: 53%
  height: 30%
  background-color: $tassa-orange
  border-radius: 0px 0px 11px 11px
  margin-left: 7%
  top: 80%
  position: absolute

.selfie-container
  margin-top: 2em

// Typography
.textBox_header
  font-size: 0.65rem
  color: white
  padding-top: 4%

.textBox_title
  text-align: left
  padding-left: 9%
  @include secondary-text

.col-12
  p
    margin: $clear-sides
    margin-bottom: 1em

// Icons
.social-media-icons
  margin-bottom: $clear-navbar

.icon_color
 color: $tassa-orange
 margin-right: 0.1em
 margin: 0 1em

.fa-sm
  font-size: 2rem