 
// Bootstrap
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

$theme-colors: ("startpagebtn": #fff)
$theme-colors: ("tassabtnred": #B23850)

.col-form-label-lg
    padding-bottom: 0 !important

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

// Variables and mixins

@import "_variables.sass"
@import "_mixins.sass"

// Typography

h1, h2, 
    font-family: $heading-font
    text-transform: uppercase
    font-weight: 500
    color: white

h2
    @include segment-title
    

h3, h4, h5
    font-family: $heading-font
    color: white

h3
    @include sub-title

h4
    font-size: 1.9rem

h5
    font-weight: 600
    letter-spacing: 0.1rem
    font-size: 1.5rem

h6
    font-family: $normal-font
    font-size: 1rem
    color: white
    line-height: 2rem
    letter-spacing: 0.08rem
    text-transform: uppercase

p, a, label, span
    font-family: $normal-font
    font-weight: 400
    line-height: 1.5rem
    font-size: 1rem
    text-decoration: none
    color: white
    padding-bottom: 0

p
    line-height: 1.7rem
    color: $tassa-offwhite

a:hover
    color: darken(white, 15%)
    text-decoration: none   

.logo--text
    font-family: $logo-font
    font-weight: 600
    font-size: 1.4rem
    text-transform: uppercase
    color: white

.subtitle-extended
    font-family: $normal-font
    font-weight: 600
    color: $tassa-gray
    text-transform: uppercase
    letter-spacing: 0.18rem
    font-size: 0.9rem

.dog-name
    font-size: 1.2rem

// Backgrounds

body
    background-color: $tassa-green
    box-sizing: border-box

.hero-banner--mobile
    background-image: url("./../MobileHeroBanner.jpg")

.login-register--container
    background-image: url("./../LogInRegisterBackground.png")

.login-register--container, .hero-banner--mobile
    background-repeat: no-repeat
    background-size: cover
    @include no-scroll

.aboutUs_banner, .matching--container, .profile--container
    @include no-x-scroll
    

// Padding, margin, display

.display--block
    display: block

// Navigation

.navbar-light .navbar-nav .nav-link
    color: white

.navbar-nav
    justify-content: end
    text-align: right

button:focus
	outline: none

// Forms

.input-group-text
    background-color: $form-background
    color: $icon-color
    border: none

.custom-select
    background-color: $form-background
    font-family: $normal-font
    color: #e7e7e7
    &.is-valid
        background-color: $form-background
        font-family: $normal-font
        color: #FFF
    &:focus
        color: #383838
    &.is-invalid
        background-color: $form-background

option:disabled
    color: #c2c2c2
    font-weight: 300
    font-style: italic

.form-control
    color: #ffffff
    background-color: $form-background
    border: none

.form-control::placeholder
    color: #e4e4e4
    font-family: $normal-font
    font-size: 1em

.form-control.checkbox-form-control
    background-color: transparent

.custom-control, .custom-select
    padding-left: 2.1em

.custom-control-input:checked ~ .custom-control-label::before
        border-color#28a745
        background-color: #28a745

select option
    background-color: $tassa-green
    color: white

.invalid-feedback
    color: #FF2942
    letter-spacing: 0.12em

.flex-radio
	display: flex
	justify-content: space-evenly

// Buttons

.btn-tassabtnred
    width: 200px
    border-radius: 20px
    font-family: $normal-font
    font-weight: 600
    letter-spacing: 0.1em
    margin-top: 2em

.btn-outline-startpagebtn
    border-color: #fff
    color: #fff
    padding: 8px 1.2em

.btn-outline-tassabtnred
    width: 200px
    border-radius: 20px
    font-family: $normal-font
    font-weight: 600
    letter-spacing: 0.1em
    margin-top: 2em
    background-color: rgba(0, 0, 0, 0.15)
    border-width: 2px

// Containers
.profile--container
    margin: 0
    padding: 0
    @include no-x-scroll

.profile-header--container, .profile-family--container, .profile-desc--container
    padding: 2em 1em 1em 1em

.profile-family--container
    background-color: $tassa-green-lighter

.profile-desc--container, .edit-presentation--container
    margin-bottom: $clear-navbar


// Button and spinners
.alert 
	margin: 1em 0
.spinner-border 
	margin-right: 1em