// Typography
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

$heading-font: "Raleway", sans-serif
$normal-font: "Open Sans", sans-serif
$logo-font: "Exo", sans-serif

h1, h2, 
    font-family: $heading-font
    text-transform: uppercase
    font-weight: 500

h3, h4, h5
    font-family: $heading-font

p, a, label
    font-family: $normal-font
    font-weight: 400
    line-height: 1.5em
    font-size: 1em
    text-decoration: none
    color: white

.logo--text
    font-family: $logo-font
    font-weight: 600
    font-size: 1.4em
    text-transform: uppercase
    color: white

// Backgrounds
.hero-banner--mobile
    background-image: url("./../MobileHeroBanner.jpg")

.login-register--container
    background-image: url("./../LogInRegisterBackground.png")
.login-register--container, .hero-banner--mobile
	width: 100vw
	height: 100vh
	background-repeat: no-repeat
	background-size: cover