@import "_variables.sass"
    
.B-C 

.B-C-A:nth-child(2)
    background-color: #00554c

.B-C > span,
.B-C-A > span
    font-size: 0.8em

.match-list 
    text-align: left
    padding-top: 2rem

.last-result
    margin-bottom: $clear-navbar

.match-label
    font-size: 1.3rem
    color: white
    margin-top: 5%
    text-align: left

